{% extends 'base.html.twig' %}

{% block body %}
    <h1>Le rugby, école de la vie</h1>
    <p>Né en 1972,Le Rugby Olymmique Charleville-Mézières n’a cessé de se développer. Disposant d’une École de Rugby depuis de nombreuses années, celle-ci c’est vue décerner son premier label F.F.R en 2006. Elle est maintent labellisée “une étoile”.</p>
    <p>L’école de rugby compte actuellement 79 licencié(e)s répartis dans le catégories suivantes :</p>
    <p>
        <ul>
            <li>Baby Rugby (de 3 à 5 ans)</li>
            <li>Moins de 6 ans</li>
            <li>Moins de 8 ans</li>
            <li>Moins de 10 ans</li>
            <li>Moins de 12 ans</li>
            <li>Moins de 14 ans</li>
        </ul>
    </p>
    <h1>Nos éducateurs</h1>
    <p>Nous pouvons compter sur 9 éducateurs diplômés et aide-éducateurs pour prendre en charge les enfants lors des entrainements et tournois</p>
    <h1>Nos locaux</h1>
    <p>Le Stade Bayard et la Warenne sont équipés de vestiaires et de douches separées pour les filles et les garçons</p>
    <h1>Les déplacements </h1>
    <p>Le déplacement sur les tournois (principalement Ardennes, Marne, Aisne, Meuse) ou entrainements communs (Vouziers et Rethel) se font en bus. Les parents dans la mesure du possible peuvent accompagner les enfants.</p>
    <h1>La 3ème mi-temps</h1>
    <p>Goûter pris en commun par les enfants à chaque entrainement et tournois dans un espris de convivalité propre au rugby.</p>
{% endblock %}

{% block title %}
En savoir plus sur l'EDR
{% endblock %}

