html, body {
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.habillage {
    width: 100%;
}

.about {
    display: flex;
    justify-content: space-around;
    margin : 8%;
    height: 250px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin-top: 10px;
}

.text_roc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;

}

.text_ardennes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;

}

.button {
    margin-top: 5%;
}

.images {
    display: flex;
    flex-direction: column;
    height: 50%;
}

